{% block body %}
<h2>update student </h2>
{{form_start(form)}}
<div class="form-group">
{{ form_label(form) }}
{{ form_widget(form) }}
</div>

<button type="submit" class="bn-btn-info mt-2 text-white">update</button>

{{form_end(form)}}

{% endblock %}
